.category > div {
  margin-top: 50px;
  h3 {
    font-weight: 400;
    font-size: 32px;
    color: #000;
  }
}

.category-main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.category-left {
  width: 30%;
  border-radius: 6px;
  padding: 20px;
  height: 462px;
  background: #fff7d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categor-left-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h5 {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #000;
  }
}

.pod {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  h6 {
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }
}

.category-center {
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 148px;
  width: 30%;
}

.category-center-item {
  border-radius: 6px;

  display: flex;
  background: #fff7d9;

  align-items: center;
  padding: 20px;
  justify-content: space-between;
  .ct-center-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h5 {
      font-style: italic;
      font-weight: 400;
      font-size: 21px;
      color: #000;
    }
    h6 {
      font-weight: 400;
      font-size: 14px;
      color: #000;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      color: #000;
    }
  }
}

.category-right {
  width: 33%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.ct-right-item {
  display: flex;
  height: 222px;
  justify-content: space-between;
  padding: 24px;
  border-radius: 6px;
  background: #fff7d9;
  .ct-right-item-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 5px;
    h5 {
        font-style: italic;
        font-weight: 400;
        font-size: 21px;
        color: #000;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        color: #000;
    }
  }
  .foiz{
    width: 50%;
    height: 100%;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
