.about {
  padding-top: 77px;
}
.about > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-left {
  display: flex;
  width: 46%;
  flex-direction: column;
  gap: 20px;
  h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 25.36px;
    text-align: left;
    color: black;
  }
}

.about-left-top {
  padding-bottom: 16px;
  border-bottom: 1px solid #ff7a1b;

  h3 {
    font-weight: 400;
    font-size: 32px;
    color: #000;
  }
}

.about-left-bottom {
  display: flex;
  align-items: start;
  gap: 10px;
  .about-descrip {
    display: flex;
    flex-direction: column;
    gap: 9px;
    h5 {
      font-size: 18px;
      font-weight: 400;
      line-height: 28.53px;
      text-align: left;
    }
    h4 {
      font-size: 16px;
      font-weight: 300;
      line-height: 25.36px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}

.about-right{
    padding: 10px;
    background-color: #fff;
    box-shadow:  0px 0px  17px rgba(128, 128, 128, 0.184);
    width: 47%;
    img{
        width: 100%;
    }
}